* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 6px;
}
body {
  font-family: "Dancing Script", cursive;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

/*navbar*/
nav {
  font-family: "Dancing Script", cursive;
  background-color: pink;
  color: rgb(179, 66, 245);
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
#logo-box .logo {
  color: rgb(179, 66, 245);
  font-weight: 700;
  font-size: 3.2rem;
}
.col {
  float: left;
  width: 100%;
  padding: 1rem;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: 7px;
  }
  #about {
    background-color: rgb(252, 168, 207);
    height: 80rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 8px;
  }
  .col {
    float: left;
    width: 33.333%;
  }
  #about {
    background-color: rgb(252, 168, 207);
    height: 90rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: 9px;
  }
  .col {
    width: 33.3333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  html {
    font-size: 10px;
  }
  #about {
    background-color: rgb(252, 168, 207);
    height: 80rem;
  }
}
.header h1 {
  color: rgb(231, 19, 54);
  text-align: center;
  position: relative;
  top: 1rem;
  bottom: 1rem;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.text-uppercase {
  text-transform: uppercase;
}
#logo-box {
  float: left;
  padding-top: 1.5rem;
}
#nav-links {
  float: right;
}
.clearfix::after {
  /*iki tane divin ardına bir eleman ekleyeceğiz ekleyeceğimiz eleman bir block eleman*/
  content: "";
  display: block;
  clear: both;
}
#nav-links .nav-item {
  float: left;
  margin: 0.4rem;
}
#nav-links .nav-link {
  color: rgb(179, 66, 245);
  font-size: 2.6rem;
  font-weight: 200;
  display: block; /*üstten altanda etkin olsun istiyorum*/
  padding: 1.6rem;
  letter-spacing: 0.1rem;
  transition: color 0.3s;
}
#nav-links .nav-link:hover {
  color: white;
}
.header {
  background-image: url(img/resim5.jpg);
  height: 100rem;
  background-size: cover;
  opacity: 0.8;
}
#gallery {
  position: relative;
  top: 5px;
  left: 5px;

  right: 5px;
}
.item-container {
  width: 25%;
  float: left;
  padding: 10px;
}
* {
  box-sizing: border-box;
}
.gallery-item {
  border: 1px solid rgba(15, 1, 1, 0.993);
}
.gallery-item:hover {
  border: 1px solid rgba(15, 1, 1, 0.993);
  -webkit-box-shadow: 5px 10px 20px 2px rgba(15, 1, 1, 0.993);
  -mox-box-shadow: 5px 10px 20px 2px rgba(15, 1, 1, 0.993);
  box-shadow: 5px 10px 20px 2px rgba(15, 1, 1, 0.993);
}
.gallery-item:hover {
  cursor: pointer;
  border: 0.1rem solid rgba(15, 1, 1, 0.993);
  transition: all 0.5s;
}
.gallery-item img {
  width: 100%;
  height: 40rem;
  object-fit: contain;
}
.clearfix::after {
  /*iki tane divin ardına bir eleman ekleyeceğiz ekleyeceğimiz eleman bir block eleman*/
  content: "";
  display: block;
  clear: both;
}
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(255, 125, 212);
  color: #fff;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
footer h4 {
  font-size: 2.4rem;
}
footer p {
  font-size: 2rem;
  margin-top: 1rem;
}

footer li {
  display: inline-block;
  margin-right: 1rem;
}
.btn {
  margin-top: 4rem;
  font-weight: 400;
  display: inline-block;
  border: 0.2rem solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-social {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
}
.btn-large {
  font-size: 2rem;
  padding: 2.2rem 1.6rem;
}
.btn-primary {
  background-color: rgb(189, 70, 245);
  border-color: rgb(189, 70, 245);
  height: 6rem;
  width: 12rem;
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 3rem;
}
.btn-outline:hover {
  border-color: #fff;
  background-color: #ee2593;
  transition: all 0.5s;
}
.btn-primary:hover {
  border-color: #fff;
  background-color: #ee2593;
  transition: all 0.5s;
}
.btn-outline {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  border-radius: 4rem;
}


.copyright {
  background-color: rgb(180, 6, 180);
  color: white;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  text-align: center;
}
